.button-container {
  text-align: center;
  opacity: 1;
  background: #fead39;
  color: #fff;
  border-radius: 50%;
  border-width: 0px;
  width: 50px;
  height: 50px;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
  margin-bottom: 150px;
}
.bounce {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1, 1) translateY(0);
  }
  30% {
    transform: scale(1, 1) translateY(-20px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
