.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}
.result-heading {
  color: white;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  width: 50vw;
}
.logout-button {
  border: none;
  border-radius: 8px;
  background-color: #fead39;
  color: white;
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .result-heading {
    width: 100%;
  }
}
